<%= form_for(@comment = @post.comments.build) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content %>
  </div>

  <% if @post.present? %>
    <%= f.hidden_field :post_id, value: "#{@post.id}" %>
  <% elsif @check_in.present? %>
    <%= f.hidden_field :check_in_id, value: "#{@check_in.id}" %>
  <% end %>

  <div class="actions">
    <%= f.submit "comment", class:"btn" %>
  </div>
<% end %>
