<div class="check-in span4 pull-right">
  <%= image_tag "green-dot.png", class:"green-dot" %>
  <% if user_signed_in? %>
    <% if current_user.checked_in?(post) %>
      <div class="btn btn-large btn-disabled">Taken!</div>
    <% else %>
      <%= form_for(current_user.check_ins.build(checked_in_post_id: post.id)) do |f| %>
        <div><%= f.text_area :content %></div>
        <div><%= f.hidden_field :checked_in_post_id %></div>
        <%= f.submit "Take Action", class: "btn btn-success btn-large" %>
      <% end %>   
    <% end %> 
  <% else %>
    <div class="btn btn-large btn-disabled">Sign in To Take This Action</div>
  <% end %>
</div>