<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @check_in.content %>
</p>

<p>
  <b>Action:</b>
  <%= @check_in.action %>
</p>


<%= link_to 'Edit', edit_check_in_path(@check_in) %> |
<%= link_to 'Back', check_ins_path %>
