
<div class="span6 offset2">
  <h2>Let your values be your guide</h2>
  <%= link_to "https://docs.google.com/forms/d/1H1LYBFdb7_65HEQq6voartCewJLGqKc99iYyUhumC5c/viewform" do %>
    <%= image_tag "http://www.thisamericanlife.org/sites/default/files/survey.jpg" %>
    <div class="lead">
      Take our Survey
    </div>
  <% end %>
</div>

<div class="jumbotron">
  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
  <% end %>
</div>

<hr>

<div class="span6 offset2">
  <h2 class="pull-left">We're launching soon . . .</h2>
  <div class="pull-right"><%= image_tag 'iphone_store.png', width:150 %></div>
  <div class="span6">
    <%= form_for @email_subscription do |f| %>
      <% if @email_subscription.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@email_subscription.errors.count, "error") %> prohibited this email_subscription from being saved:</h2>
          <ul>
          <% @email_subscription.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :email %>
    	<%= f.text_field :email %><br>
    	<%= f.submit "Get Notified", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>