<%= form_for :user, url: "/submit_survey", class:"survey" do %>
<div class="lead">
  When you decide whether something is right or wrong, to what extent are the following considerations relevant to your thinking? <br /> Please rate each statement using this scale:
  <ul class="scale">
    <li>
      0 - Not At All Relevant
    </li>
    <li>
      1 - A Little Relevant
    </li>
    <li>
      2 - Somewhat Relevant
    </li>
    <li>
      3 - Generally Relevant
    </li>
    <li>
      4 - Very Relevant
    </li>
    <li>
      5 - Extremely Relevant
    </li>
  </ul>
</div>

<div class="field">
  <%= label_tag :one, "Whether or not someone suffered emotionally" %>
  <%= number_field_tag :one, value ="3" %>
</div>
<div class="field">
  <%= label_tag :two, "Whether or not some people were treated differently than others" %>
  <%= number_field_tag :two, value ="3" %>
</div>
<div class="field">
  <%= label_tag :three, "Whether or not someone’s action showed love for his or her country" %>
  <%= number_field_tag :three, value ="3" %>
</div>
<div class="field">
  <%= label_tag :four, "Whether or not someone showed a lack of respect for authority " %>
  <%= number_field_tag :four, value ="3" %>
</div>
<div class="field">
  <%= label_tag :five, "Whether or not someone violated standards of purity and decency" %>
  <%= number_field_tag :five, value ="3" %>
</div>
<div class="field">
  <%= label_tag :six, "Whether or not someone was good at math" %>
  <%= number_field_tag :six, value ="3" %>
</div>
<div class="field">
  <%= label_tag :seven, "Whether or not someone cared for someone weak or vulnerable" %>
  <%= number_field_tag :seven, value ="3" %>
</div>
<div class="field">
  <%= label_tag :eight, "Whether or not someone acted unfairly" %>
  <%= number_field_tag :eight, value ="3" %>
</div>
<div class="field">
  <%= label_tag :nine, "Whether or not someone did something to betray his or her group" %>
  <%= number_field_tag :nine, value ="3" %>
</div>
<div class="field">
  <%= label_tag :ten, "Whether or not someone conformed to the traditions of society " %>
  <%= number_field_tag :ten, value ="3" %>
</div>
<div class="field">
  <%= label_tag :eleven, "Whether or not someone did something disgusting" %>
  <%= number_field_tag :eleven, value ="3" %>
</div>
<div class="field">
  <%= label_tag :twelve, "Whether or not someone was cruel" %>
  <%= number_field_tag :twelve, value ="3" %>
</div>
<div class="field">
  <%= label_tag :thirteen, "Whether or not someone was denied his or her rights" %>
  <%= number_field_tag :thirteen, value ="3" %>
</div>
<div class="field">
  <%= label_tag :fourteen, "Whether or not someone showed a lack of loyalty" %>
  <%= number_field_tag :fourteen, value ="3" %>
</div>
<div class="field">
  <%= label_tag :fifteen, "Whether or not an action caused chaos or disorder" %>
  <%= number_field_tag :fifteen, value ="3" %>
</div>
<div class="field">
  <%= label_tag :sixteen, "Whether or not someone acted in a way that God would approve of" %>
  <%= number_field_tag :sixteen, value ="3" %>
</div>
<div class="lead">
  Please read the following sentences and indicate your agreement or disagreement:
  <ul class="scale">
    <li>
      0 - Strongly Disagree
    </li>
    <li>
      1 - Disagree Generally
    </li>
    <li>
      2 - Disagree Slightly
    </li>
    <li>
      3 - Agree Slightly
    </li>
    <li>
      4 - Agree Generally
    </li>
    <li>
      5 - Strongly Agree
    </li>
  </ul>
</div>

<div class="field">
  <%= label_tag :seventeen, "Compassion for those who are suffering is the most crucial virtue." %>
  <%= number_field_tag :seventeen, value ="3" %>
</div>
<div class="field">
  <%= label_tag :eighteen, "When the government makes laws, the number one principle should be ensuring that everyone is treated fairly." %>
  <%= number_field_tag :eighteen, value ="3" %>
</div>
<div class="field">
  <%= label_tag :nineteen, "I am proud of my country’s history." %>
  <%= number_field_tag :nineteen, value ="3" %>
</div>
<div class="field">
  <%= label_tag :twenty, "Respect for authority is something all children need to learn." %>
  <%= number_field_tag :twenty, value ="3" %>
</div>
<div class="field">
  <%= label_tag :twentyone, "People should not do things that are disgusting, even if no one is harmed. " %>
  <%= number_field_tag :twentyone, value ="3" %>
</div>
<div class="field">
  <%= label_tag :twentytwo, "It is better to do good than to do bad." %>
  <%= number_field_tag :twentytwo, value ="3" %>
</div>
<div class="field">
  <%= label_tag :twentythree, "One of the worst things a person could do is hurt a defenseless animal." %>
  <%= number_field_tag :twentythree, value ="3" %>
</div>
<div class="field">
  <%= label_tag :twentyfour, "Justice is the most important requirement for a society." %>
  <%= number_field_tag :twentyfour, value ="3" %>
</div>
<div class="field">
  <%= label_tag :twentyfive, "People should be loyal to their family members, even when they have done something wrong." %>
  <%= number_field_tag :twentyfive, value ="3" %>
</div>
<div class="field">
  <%= label_tag :twentysix, "Men and women each have different roles to play in society." %>
  <%= number_field_tag :twentysix, value ="3" %>
</div>
<div class="field">
  <%= label_tag :twentyseven, "I would call some acts wrong on the grounds that they are unnatural." %>
  <%= number_field_tag :twentyseven, value ="3" %>
</div>
<div class="field">
  <%= label_tag :twentyeight, "It can never be right to kill a human being." %>
  <%= number_field_tag :twentyeight, value ="3" %>
</div>
<div class="field">
  <%= label_tag :twentynine, "I think it’s morally wrong that rich children inherit a lot of money while poor children inherit nothing." %>
  <%= number_field_tag :twentynine, value ="3" %>
</div>
<div class="field">
  <%= label_tag :thirty, "It is more important to be a team player than to express oneself." %>
  <%= number_field_tag :thirty, value ="3" %>
</div>
<div class="field">
  <%= label_tag :thirtyone, "If I were a soldier and disagreed with my commanding officer’s orders, I would obey anyway because that is my duty." %>
  <%= number_field_tag :thirtyone, value ="3" %>
</div>
<div class="field">
  <%= label_tag :thirtytwo, "Chastity is an important and valuable virtue." %>
  <%= number_field_tag :thirtytwo, value ="3" %>
</div>
<div class='actions'>
  <%= submit_tag 'Find Actions For Your Values', class:"btn btn-success btn-large" %>
</div>
<% end %>