<nav>
	<ul class="nav">
		<li><a href="#hero"><%= image_tag("one.png") %></a></li>
		<li><a href="#protection"><%= image_tag("two.png") %></a></li>
		<li><a href="#big_splash"><%= image_tag("three.png") %></a></li>
		<li><a href="#pitch"><%= image_tag("star.png") %></a></li>
		<li><a href="#join"><%= image_tag("join.png") %></a></li>
	</ul>
</nav>